@charset "UTF-8";

/*==================================
メインコンテンツ
==================================*/

#main {
  padding-top: 24px;
  padding-bottom: 24px;
}

.article-main {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.col-4 {
  float: left;
  margin-left: 50px;
  position: relative;
  color: #111;
  text-decoration: none;
  transition: all ease 0.35s;
  width: 300px;
  margin-top: 24px;
  margin-bottom: 12px;
  &:hover {
    opacity: 0.7;
  }
  &:first-child {
    margin-left: 0;
  }
  .icon-ranking {
    font-weight: 700;
    line-height: 40px;
    width: 40px;
    background-color: #FFDE5C;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    position: absolute;
    font-size: 22px;
    top: -20px;
    left: -20px;
  }
}

.title-main {
  font-weight: 700;
  font-size: 24px;
  border-bottom: 2px solid #CCC;
  padding-bottom: 6px;
  margin-bottom: 12px;
}

.news-list {
  dt {
    float: left;
  }
  dd {
    padding-left: 7em;
    border-bottom: 1px dashed #CCC;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}